.form{
    color: seagreen;
    width: 500px;
    margin-left: 350px;
    margin-top: 50px;
}

.title{
    text-align: center;
    margin-top: 30px;
    color: orange;
}

/* .info-table table{
    width: 1100px;
    margin: auto;
    margin-top: 20px;
} */

.bg{
    background: orange;
}

.fine{

    width: 500px;
    height: 400px;
    margin: auto;
    margin-top: 100px;
    background: orange;
}

.fine-info{
    margin-left: 150px;
    padding-top: 100px;
}

.logout{

    width: 500px;
    height: 400px;
    margin: auto;
    margin-top: 100px;
    background: orange;
}

.logout-info h5{
    margin-left: 100px;
    padding-top: 150px;
}

.logout-info a{
    margin-left: 200px;
}

.search{
    margin-left: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.page{
    margin-left: 500px;
}

.row{
    margin-top: 100px;
}
.my-col{
    background: orange;
    height: 200px;
    border: 10px solid white;
}

.my-col h4{
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
}

.my-col h1{
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
}

.heading{
    margin-top: 20px;
    margin-bottom: 20px;
    background: orange;
    padding: 10px;
}

.heading h2{
    text-align: center;
    font-weight: bold;
}

.not-found h2{
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
}


